<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <b style="font-size: xxx-large">Funny Movies</b>
        <input style="margin-left: 150px" placeholder="Email" th:field="*{username}"/>
        <input type="password" style="margin-left: 19px" placeholder="Password" th:field="*{password}"/>
        <input type="submit" value="Login/Register" style="margin-left: 19px"/>
    </form>
</span>
<br>
<hr>
<br>
<ul style="margin-left: 70px">
    <li th:each="movie : ${movies}">
        <p><span th:text="*{movie.title}"></span></p>
        <p><span th:text="*{movie.sharedBy}"></span></p>
        <p><span th:text="*{movie.content}"></span></p>
        <br>
        <br>
    </li>
</ul>
<br>
</body>
</html>