<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span>
    <form action="/register" method="post">
        <b style="font-size: xxx-large">Funny Movies</b>
        <input style="margin-left: 150px" placeholder="Email"/>
        <input style="margin-left: 19px" placeholder="Password"/>
        <button style="margin-left: 19px">Login/Register</button>
    </form>
</span>
<br>
<hr>
<ul>
    <li th:each="movie : ${movies}">
        <span th:text="*{movie.title}"></span>
        <span th:text="*{movie.sharedBy}"></span>
        <span th:text="*{movie.content}"></span>
    </li>
</ul>
<br>
</body>
</html>