<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span>
    <form th:action="@{/shared}" method="post">
        <b style="font-size: xxx-large">Funny Movies</b>
        <input style="margin-left: 150px" type="submit" value="Shared a movie"/>
        <button style="margin-left: 19px">Logout</button>
    </form>
</span>
<br>
<hr>
<br>
<br>
<ul>
    <li th:each="movie : ${movies}">
        <span th:text="*{movie.title}"></span>
        <span th:text="*{movie.sharedBy}"></span>
        <span th:text="*{movie.content}"></span>
    </li>
</ul>
<br>
<br>
</body>
</html>