<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/shared}" method="post" style="display: inline">
        <img src="../static/images/home.png" width="80" th:src="@{images/home.png}" style="object-fit: contain"/>
        <b style="font-size: xxx-large; margin-right: 70px">Funny Movies</b>
        Welcome <label style="margin-left: 10px" th:text="*{user.username}"/>
        <input style="margin-left: 15px" type="submit" value="Shared a movie"/>
        <button style="margin-left: 19px">Logout</button>
    </form>
</div>
<br>
<hr>
<br>
<br>
<span>
    <form>
        <h3 style="font-size: large">Shared a Youtube movies</h3>
        Youtube url: <input style="margin-left: 15px"/>
        <h3></h3>
        <input type="submit" value="Shared" style="width: 285px"/>
    </form>
</span>
<br>
</body>
</html>