<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span>
    <form>
        <b style="font-size: xxx-large">Funny Movies</b>
        <button style="margin-left: 19px">Logout</button>
    </form>
</span>
<br>
<hr>
<br>
<br>
<span>
    <form>
        <h3 style="font-size: large">Shared a Youtube movies</h3>
        Youtube url: <input style="margin-left: 15px"/>
        <h3></h3>
        <input type="submit" value="Shared" style="width: 285px"/>
    </form>
</span>
<br>
</body>
</html>